.first-partner-section .first-partner-section__text_title {
    max-width: 560px;
}

.first-partner-section .first-partner-section__text_subtitle {
    max-width: 585px;
}

.partner-benefits-section__item {
    width: 280px;
}

.partner-benefits-section__item_subtitle {
    height: 207px;
}

.partner-benefits-section .colors-btn {
    margin: 0 auto;
    width: 301px;
height: 48px;
margin-top: 34px;
}

.what-section__container {
    max-width: 1382px;
    padding-top: 65px;
    padding-bottom: 54px;
    margin: 0 auto;
}

.what-section-title {
    color: var(--Middle, #504B5A);
text-align: center;
font-family: 'PoppinsB', sans-serif;
font-size: 40px;
line-height: 48px; /* 120% */
letter-spacing: 0.8px;
margin-bottom: 78px;
}

.what-section__item {
    max-width: 1298px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.what-section__item:last-child {
    margin-bottom: 53px;
}

.what-section__item_text_container {
    max-width: 712px;
}

.what-section__item_title {
    color: var(--Middle, #504B5A);
font-family: 'PoppinsB', sans-serif;
font-size: 32px;
line-height: 48px; /* 150% */
letter-spacing: 0.64px;
margin-bottom: 16px;
}

.what-section__item_subtitle {
    max-width: 752px;
    color: var(--Middle, #504B5A);
    font-family: 'PoppinsB', sans-serif;
font-size: 20px;
line-height: 27px; /* 135% */
margin-bottom: 24px;
}

.what-section__item  ul {
    padding-left: 20px;
    margin-bottom: 55px;
}

.what-section__item li {
    margin-bottom: 14px;
    color: var(--Middle, #504B5A);
font-size: 17px;
line-height: 23px; /* 135.294% */
}

.what-section__item.right .what-section__item_text_container {
    order: 2;
}


@media screen and (max-width: 1360px) {
    .what-section__container {
        padding-left: 20px;
        padding-right: 20px;
    }


}


@media screen and (max-width: 1220px) {
    .what-section__item_title {
        font-size: 28px;
    }

    .what-section__item_subtitle {
        font-size: 18px;
    }

    .what-section__item li {
        font-size: 15px;
    }
    .what-section__item_text_container {
        max-width: 550px;
    }

    .partner-benefits-section__item:nth-child(1), .partner-benefits-section__item:nth-child(2) {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 990px) {
    .what-section__item_img svg {
        width: 100%;
        height: 100%;
    }

    .what-section__item_img {
        max-width: 300px;
    }
}

@media screen and (max-width: 890px) {
    .what-section__item {
        flex-direction: column;
    }

    .what-section__item:last-child .what-section__item_img {
        order: 2;
    }

    .what-section__item_text_container {
        text-align: center;
        margin-bottom: 40px;
    }

    .what-section__item_text_container:last-child, .what-section__item:last-child {
        margin-bottom: 0;
    }

    .what-section__item_text_container a {
        margin-left: auto;
        margin-right: auto;
    }
    
    .what-section__container {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .what-section-title {
        font-size: 30px;
    }

    .what-section__item_title {
        font-size: 23px;
    }

    .first-partner-section__text_title, .partner-cta-text__title {
        font-size: 25px;
    }

    .first-partner-section .first-partner-section__text_subtitle {
        font-size: 14px;
    }

    .partner-benefits-section__item_title {
        font-size: 16px;
    }

    .partner-benefits-section__item_subtitle {
        font-size: 15px;
    }

    .partner-benefits-section__item {
        width: unset;
    }

    .partner-benefits-section__item_subtitle {
        height: unset;
    }

    .partner-benefits-section__item {
        margin-bottom: 0;
    }

    .what-section__item_title{
        line-height: 28px;
    }

    .what-section-title {
        font-size: 29px;
        margin-bottom: 20px;
    }

    .what-section__item ul {
        padding-left: 10px;
    }

    .what-section__item.right .what-section__item_text_container {
        margin-bottom: 0;
    }

    .what-section__item li {
        text-align: left;
    }
}