.main-description-container,
.logo-section-container {
    max-width: 1312px;
    margin: 0 auto;
    margin-top: 91px;
}

.main-description-container {
    padding-top: 75px;
    display: flex;
    align-items: center;
}

.main-text {
    max-width: 638px;
    margin-right: 301px;
}

.logo-section{
    margin-bottom: 112px;
}

.int-image {
    width: 144px;
    height: 144px;
    left: 918px;
    top: 494px;
    background: #F8F7FB;
    border: 8px solid #F6F5F9;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.75), 8px 8px 24px rgba(80, 75, 90, 0.08);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.int-image img {
    width: 75%;
}


.int-image .tik-tok {
    width: 50%;
}

.int-image .instagram {
    width: 40%;
}

.logo-section-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #504B5A;

}

.logo-int-item {
    display: flex;
    flex-direction: column;
    width: 226px;
    align-items: center;
    margin-top: 120px;
}

@keyframes fadeInInt {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.element-animation-int{
    animation: fadeInInt 1.2s ease-in-out;
    transition: 0.4s;
    -webkit-animation: fadeInInt 1.2s ease-in-out;
}

.int-image{
    margin-bottom: 33px;
}


.logo-box {
    display: flex;
    max-width: 298px;
    flex-direction: column;
    align-items: flex-start;
padding: 16px;
border-radius: 16px;
background: var(--White, #FFF);
margin: 0px 15px 30px 15px;
box-shadow: 8px 8px 24px 0px rgba(80, 75, 90, 0.08), -4px -4px 8px 0px rgba(255, 255, 255, 0.75);
}

.logo-img {
    margin-bottom: 8px;
}

.logo-title {
    color: var(--Middle, #504B5A);
font-family: 'PoppinsB', sans-serif;
font-size: 17px;
line-height: 22px; /* 129.412% */
margin-bottom: 16px;
}

.logo-description {
    text-align: left;
    height: 144px;
    color: #504B5A;
}


@media screen and (max-width: 1330px) {
    .logo-section-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 985px;
    }
}

@media screen and (max-width: 1024px) {
    .logo-section-container {
        max-width: 656px;
    }
}

@media screen and (max-width: 768px) {
    .main-description-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 696px) {
    .logo-section-container {
        max-width: 330px;
    }
}

@media screen and (max-width: 635px) {
    .logo-section-container {
        justify-content: center;
    }
}

@media screen and (max-width: 490px) {
    .logo-section-container{
        max-width: 300px;
        margin: 0 auto;
        justify-content: center;
    }

    .logo-int-item{
        margin-top: 60px;
    }
}