.partner-text-title {
    max-width: 510px;
}

.partner-text-desc {
    max-width: 454px;
}

.partnerspage-section {
    position: relative;
}

.partner-circle {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

input, select {
    border: 1px solid var(--Middle, #504B5A) !important;
}

@media screen and (max-width: 670px) {
    .partner-circle svg {
        width: 100%;
        height: 100%;
    }

    .partner-circle {
        max-width: 350px;
    }
}

@media screen and (max-width: 850px) {
    .text-title {
        line-height: 36px;
    }
}