.header-container,
.footer-container,
.pricing-container {
    max-width: 80%;
    margin: 0 auto;
}

html,
body {
    min-height: 100%;
}


.pricing-title {
    font-size: 40px;
    line-height: 48px;
    color: #504B5A;
    font-family: 'PoppinsB', sans-serif;
   text-align: center;
    margin-bottom: 25px;
    margin-top: 70px;
}

.pricing-subtitle {
    text-align: center;
    color: var(--Middle, #504B5A);
    font-family: 'PoppinsB', sans-serif;
font-size: 17px;
line-height: 22px; /* 129.412% */
margin-bottom: 20px;
}

.focus-benefits {
    justify-content: center;
}

.pricing-title span {
    color: #00A8A8;
}

.pricing-desciption {
    font-size: 17px;
    line-height: 22px;
    font-family: 'PoppinsB', sans-serif;
    color: #504B5A;
    margin-bottom: 21px;
}


.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.pb-text {
    color: var(--Middle, #504B5A);
font-size: 17px;
margin-bottom: 8px;
line-height: 23px; /* 135.294% */
}

.pricing-offer {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: linear-gradient(264deg, #7737FF 0%, #5B00CE 100%);
    border: 1.5px solid #504B5A;
    border-radius: 16px;
    color: #ffffff;
    padding: 24px;
    position: relative;
    margin-bottom: 110px;
}

.pricing-offer::after {
    content: " ";
    position: absolute;
    background: #504B5A;
    border-radius: 16px;
    width: 99.7%;
    height: 100%;
    z-index: -1;
    left: 0;
    bottom: -5px;
}

.pricing-offer-timeline {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.67);
    border-radius: 32px;
    padding: 4px 16px;
    font-size: 13px;
    line-height: 18px;
    color: #282831;
    font-family: 'PoppinsB', sans-serif;
}

.po-title {
    font-size: 32px;
    line-height: 36px;
    font-family: 'PoppinsB', sans-serif;
}

.po-description {
    font-size: 17px;
    line-height: 22px;
    font-family: 'PoppinsB', sans-serif;
    margin-top: 10px;
    margin-bottom: 32px;
}

.po-benefits-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 195px;
    margin-top: 13px;
}

.po-benefit {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 350px;
    margin-bottom: 16px;
}

.po-benefit .po-benefit-mark {
    margin-right: 12px;
}

.po-offer-button {
    padding: 11px 0;
    font-size: 17px;
    color: #504B5A;
    font-family: 'PoppinsB', sans-serif;
    background: #FFFFFF;
    border-radius: 8px;
    outline: 0;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.po-offer-button:hover {
    cursor: pointer;
}




.partner-design-link {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 38px;
    font-size: 27px;
    line-height: 27px;
    font-family: 'PoppinsB', sans-serif;
    color: #00A8A8;
    text-decoration: none;
}

.progress-bar-container input {
    width: 540px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
border: 1px solid var(--Component-Light-Normal, #FFF);
background: var(--Grey-Light-Cards, #F8F7FB);
/* Component Light Normal */
box-shadow: 2px 2px 4px 0px rgba(80, 75, 90, 0.16), -2px -2px 8px 0px #FFF;
max-width: 282px;
color: var(--Middle, #504B5A);
font-size: 15px;
line-height: 20px; /* 133.333% */
margin: 0 auto;
margin-bottom: 22px;
}

.button {
    padding: 8px 16px;
}

.button:hover {
    cursor: pointer;
}

.button.active {
    border-radius: 8px;
border: 1px solid var(--grey-16, #DDDBE1);
background: var(--Grey-Light-BG, #F6F5F9);
box-shadow: -1px 9px 11px rgba(80, 75, 90, 0.32) inset;
color: var(--Teal-Primary, #007F82);
font-family: 'PoppinsB', sans-serif;
font-size: 15px;
line-height: 20px; /* 133.333% */
}

.pb-amount {
    color: var(--Teal-Primary, #007F82);
text-align: center;
font-family: 'PoppinsB', sans-serif;
font-size: 20px;
line-height: 27px; /* 135% */
margin-bottom: 50px;
}

.info-container {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
}

.info-box {
    border-radius: 16px;
background: var(--White, #FFF);
box-shadow: 8px 8px 24px 0px rgba(80, 75, 90, 0.08), -4px -4px 8px 0px rgba(255, 255, 255, 0.75);
padding: 66px 16px 16px 16px;
width: 508px;
}

.ib-logo {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #EBEAEE;
}

.ib-logo svg {
    margin-right: 16px;
}

.ib-title {
    color: var(--Middle, #504B5A);
font-family: 'PoppinsB', sans-serif;
font-size: 27px;
line-height: 27px; /* 100% */
margin-bottom: 8px;
}

.ib-subtitle {
    color: var(--Middle, #504B5A);
font-size: 15px;
line-height: 20px; /* 133.333% */
}

.includes {
    margin-top: 16px;
}

.i-title {
    color: var(--Middle, #504B5A);
font-family: 'PoppinsB', sans-serif;
font-size: 15px;
line-height: 20px; /* 133.333% */
margin-bottom: 16px;
}

.benefit svg {
    margin-right: 8px;
}

.benefit {
    margin-bottom: 4px;
}

.i-box {
    height: 268px;
    margin-bottom: 16px;
}

.info-price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 24px;
}

.bold-price {
    display: flex;
    align-items: baseline;
    margin-right: 8px;
}

.bold-price span.currency {
    color: var(--Middle, #504B5A);
font-family: 'PoppinsB', sans-serif;
font-size: 20px;
line-height: 27px; /* 135% */
}

.bold-price span.amount {
    color: var(--Middle, #504B5A);
font-family: 'PoppinsB', sans-serif;
font-size: 32px;
line-height: 27px;
}

.bold-price span.time {
    color: var(--Middle, #504B5A);
font-family: 'PoppinsB', sans-serif;
font-size: 13px;
line-height: 27px;
}

.discount {
    color: var(--Middle, #504B5A);
font-size: 17px;
line-height: 23px; /* 135.294% */
text-decoration-line: strikethrough;
text-decoration: line-through;
}

.info-box a {
    border-radius: 8px;
border: 1px solid #FFF;
background: var(--Middle, #504B5A);
display: flex;
align-items: center;
justify-content: center;
width: 100%;
padding: 16px 0;
outline: 0;
color: var(--White, #FFF);
font-family: 'PoppinsB', sans-serif;
font-size: 20px;
line-height: 27px; /* 135% */
text-decoration: none;
}

.info-box:last-child a {
    background-color: #7737FF;
}
/* Responsive styles >1920 */
@media screen and (min-width: 1921px) {
    

    .pricing-desciption {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .benefit {
        font-size: 20px;
    }

    .benefit svg {
        width: 45px;
        height: 45px;
    }

    .pricing-offer {
        margin-top: 90px;
        padding-top: 90px;
        padding-bottom: 60px;
    }

    .po-title {
        font-size: 44px;
        margin-bottom: 30px;
    }

    .po-description {
        font-size: 22px;
    }

    .po-benefit {
        font-size: 20px;
        max-width: 405px;
        margin-bottom: 24px;
    }

    .po-offer-button {
        padding: 14px 0;
        font-size: 22px;
        margin-top: 50px;
    }

    .partner-design-link {
        margin: 100px 0;
    }
}

@media screen and (max-width: 1065px) {
    .info-box {
        width: 445px;
    }

    .info-container {
        max-width: 945px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1040px) {

    .header-container,
    .footer-container,
    .pricing-container {
        max-width: 100% !important;
        padding: 0 20px;
    }
}

@media screen and (max-width: 945px) {
    .info-box {
        width: 410px;
    }

    .pricing-title {
        font-size: 35px;
    }
}

@media screen and (max-width: 875px) {
    .info-box {
        width: 350px;
    }
}

@media screen and (max-width: 810px) {
    .pricing-title {
        font-size: 30px;
    }
}
@media screen and (max-width: 790px) {
    .po-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .header-menu {
        margin-bottom: -3px;
    }

    header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .info-container {
        flex-wrap: wrap;
    }

    .info-box {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 720px) {
    .pricing-offer-timeline {
        font-size: 10px;
    }

    .po-benefit {
        font-size: 14px;
    }

    .partner-design-link {
        font-size: 21px;
    }

    .pricing-title {
        max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    }
}


@media screen and (max-width: 680px) {
    .pricing-offer {
        padding-top: 60px;
    }

    .pricing-title {
        max-width: 450px;
    }

    .benefit {
        margin-right: 0;
    }

    .focus-benefits {
        justify-content: space-between;
    }

    .benefit span {
        white-space: nowrap;
    }

    .pricing-offer-timeline {
        font-size: 12px;
    }
}


@media screen and (max-width: 650px) {
    .po-benefits-list {
        flex-wrap: nowrap;
    }

    .po-benefit {
        font-size: 16px;
    }

    .po-benefits-list {
        max-height: fit-content;
    }

    .pricing-title {
        font-size: 34px;
        text-align: center;
    }

    .pricing-desciption {
        text-align: center;
    }
}


@media screen and (max-width: 570px) {
    .po-title {
        font-size: 26px;
    }

    .po-description {
        font-size: 16px;
    }
}


@media screen and (max-width: 500px) {
    .pricing-title {
        margin-top: 30px;
        font-size: 30px;
    }

    .pricing-offer-timeline {
        left: 24px;
        right: unset;
    }

    .po-offer-button {
        margin-top: 20px;
    }

    .pricing-desciption {
        max-width: 271px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .focus-benefits {
        align-items: flex-start;
        justify-content: space-between;
        text-align: center;
    }


    .benefit {
        font-size: 16px;
        margin-bottom: 25px;
        width: 112px;
        flex-direction: column;
        margin: 0 auto;
    }

    .mol span br,
    .mol-t span br {
        display: block;
    }

    .benefit br {
        display: none;
    }

    .partner-design-link {
        font-size: 18px;
    }
}

/* @media screen and (max-width: 1470px) {
    .footer-integrations a {
        margin-right: 10px;
    }    

    .footer-terms .footer-social {
        margin-left: 20px;
    }

    #terms {
        margin-right: 10px;
    }


} */

@media screen and (max-width: 1280px) {

    .header-container,
    .footer-container,
    .pricing-container {
        max-width: unset !important;
    }

    .pricing-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .bs-container {
        padding: 0 20px;
    }

    .header-container a {
        margin: 0 15px;
    }
}

@media screen and (max-width: 560px) {
    input[type=range].styled-slider.slider-progress {
        width: 90%;
    }
}

@media screen and (max-width: 520px) {
    .pricing-title {
        font-size: 27px;
        line-height: 32px;
    }
}

@media screen and (max-width: 500px) {
    .benefit {
        margin-left: unset;
        margin-right: unset;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
    }

    .focus-benefits {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pricing-title {
        font-size: 26px;
    }

    .pricing-subtitle {
        font-size: 16px;
    }

    .i-box .benefit {
        margin-bottom: 7px;
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .pricing-title {
        font-size: 27px;
        line-height: 32px;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .pricing-subtitle {
        font-size: 15px;
    }

    .pricing-title {
        max-width: unset;
        font-size: 26px;
    }
}